#logo1{
    width: 150px;
    height: 55px;
    margin-top: 56px;
    margin-left: 130px;
}

#navbar{
    width: 100vw;
    height: 15vh;
    display: inline;
    margin-top: 83px;
    margin-left: 271px;
    text-decoration: none;  

}

#about{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: none;
    color: #101A24;
}

#about:hover{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: none;
    
    color: #101A24;
    
    font-size: 20px;
    text-decoration: underline;
    
}

#review{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: none;
    color: #101A24;
}
#review:hover{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: underline;
    
    color: #101A24;
   
    font-size: 20px;
}

#contact{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: none;
    color: #101A24;
    
}
#contact:hover{
    width: 371px;
    height: 29px;
    display: inline;
    margin-top: 83px;
    margin-left: 40px;
    text-decoration: underline;
    
    color: #101A24;
  
    font-size: 20px;
}

#home{
    text-decoration: none;
    color: #101A24;
    
}
#home:hover{
    text-decoration: underline;
    color: #101A24;
    font-size: 20px;
    
}

#Table{
    width: 167px;
    height: 64px;
    background-color:  #FF5733 ;
    border-radius: 15px 7px;
    margin-top: 0px;
    margin-left: 250px;
    font-size: 15px;
    color: white;
   
}

h1{
    width: 450px;
    margin-left: 140px;
    margin-top: 200px;
    font-family: "David Libre",serif;
    font-weight: 500;
    font-size: 60px;
    padding-bottom: 50px;

}

#home_lorem{
    margin-left: 140px;
    width: 375px;
    font-family: Inter;
     font-family: "Inter", sans-serif;
    color: #5C6574;
    line-height: 1.8;
    padding-bottom: 40px;
   
}

#Menu{
    margin-left: 140px;
    width: 120px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 15px 7px;
    margin-bottom: 80px;
    
}

#bookTable{
    margin-left: 30px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    background-color:  #FF5733 ;
    color: white;
    border-radius: 15px 7px;
margin-bottom: 80px;
}

.socials{
    display: inline;
    width: 40px;
    height: 40px;
    border: 1px solid #101A24;
    border-radius: 20px;
    background-color: white;
    margin-right: 20px;
}

#socials_box{
    display: block;
    margin-left: 140px;

}

button{
    border: 0;
}

button:hover{
    border: 2px solid black;
    transform: scale(1.1);
}

#restauran{
   margin-left: 800px;
   display: inline-block;
  
}

#welcome{
    display: flex;

}

#greybackground{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#dishes{
    color: #101A24;
    font-size: 50px;
    font-family: "David Libre",serif;
    padding-bottom: 20px;
    margin-left: 400px;
}

#lorem2{
    margin-top: 12.5px;
    color: #5C6574;
}

#left_side{
    display: inline-block;
}


#lhs_about_us{
    margin-left: 20px;
    margin-top: 60px;
    display: inline-block;
    width: 550px;
    
}

#Chefs{
    font-size: 40px;
    color: #101A24;
    font-family: "David Libre",serif;
}

header{
   
    position: sticky;
    top: 0px;
   background-color: antiquewhite;
}

#Welcome{
    font-family: "David Libre",serif;
}

